---
import '../base.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/jpg" href="/imamiyyah-logo.jpg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Al-Imamiyyah | الإمامية</title>
		<meta content="Al-Imamiyyah | الإمامية" property="og:title" />
		<meta content="Al-Imamiyyah Official Website" property="og:description" />
		<meta content="https://al-imamiyyah.org/" property="og:url" />
		<meta content="#43B581" data-react-helmet="true" name="theme-color" />
		<meta content="https://cdn.discordapp.com/attachments/1091079550311616613/1154646726888669225/JyTeS5oK_400x400.jpg" property="og:image" />
	</head>
	<body>
		<div class="text-center">
			<slot/>
			
			</h1>
		</div>
	</body>
</html>
